In [2]:
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity

In [3]:
amzn_ratings = pd.read_csv('Data/ratings_Beauty.csv')

In [4]:
amzn_ratings.head()

           UserId   ProductId  Rating   Timestamp
0  A39HTATAQ9V7YF  0205616461     5.0  1369699200
1  A3JM6GV9MNOF9X  0558925278     3.0  1355443200
2  A1Z513UWSAAO0F  0558925278     5.0  1404691200
3  A1WMRR494NWEWV  0733001998     4.0  1382572800
4  A3IAAVS479H7M7  0737104473     1.0  1274227200

In [5]:
amzn_ratings = amzn_ratings.sample(2000)

In [6]:
amzn_ratings.shape

(2000, 4)

In [8]:
unique_users = amzn_ratings['UserId'].unique()
print(len(unique_users))

1998

In [10]:
unique_products = amzn_ratings['ProductId'].unique()
print(len(unique_products))

1877

In [9]:
new_df = pd.DataFrame(unique_users)
new_df.columns=['UserId']

In [11]:
for product in unique_products:
    new_df[product] = None

C:\Users\lydia\AppData\Local\Temp\ipykernel_124708\732139935.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  new_df[product] = None

In [12]:
for j, user in enumerate(new_df['UserId'].values):
    for i in range(amzn_ratings[amzn_ratings['UserId'] == user].shape[0]):
        product_id = amzn_ratings[amzn_ratings['UserId'] == user]['ProductId'].iloc[i]
        rating = amzn_ratings[amzn_ratings['UserId'] == user]['Rating'].iloc[i]
        new_df[product_id][j] = rating

In [13]:
new_df.sample(5)

,UserId,B000N5WRTO,B008GOR6O0,B000MAPBTI,B001ET7E6O,B00E5O4AM6,B00247QR0E,B000C233LO,B00CD0SUB6,B00IES42YK,...,B004LCZEJK,B006HK7BSQ,B002LB75AO,B00112BSR0,B00147FGJ8,B00B50RX72,B00524WE2Q,B00787OGSA,B004IUN7JO,B0048O2R1E
1038,A31JGC2ZEESDXO,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
686,AGENLJR8RIL,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1882,A1CIPNMZBWUB79,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
940,A26LYNBAN8H9MW,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
241,A24YKPK376UEBA,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [14]:
user = pd.DataFrame(new_df.iloc[1789]) #randomly select user
user = user.drop(['UserId'])
user[user.notnull().values]

           1789
B007O7AZBG  5.0

In [16]:
subset = new_df[new_df[user[user.notnull().values].index[0]].notnull()]
subset.head()

,UserId,B000N5WRTO,B008GOR6O0,B000MAPBTI,B001ET7E6O,B00E5O4AM6,B00247QR0E,B000C233LO,B00CD0SUB6,B00IES42YK,...,B004LCZEJK,B006HK7BSQ,B002LB75AO,B00112BSR0,B00147FGJ8,B00B50RX72,B00524WE2Q,B00787OGSA,B004IUN7JO,B0048O2R1E
1789,A3UL5OE85H3TQO,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [17]:
subset = subset.replace([None], 0)
subset = subset.set_index('UserId')

In [18]:
subset.head()

,B000N5WRTO,B008GOR6O0,B000MAPBTI,B001ET7E6O,B00E5O4AM6,B00247QR0E,B000C233LO,B00CD0SUB6,B00IES42YK,B003NSPOF2,...,B004LCZEJK,B006HK7BSQ,B002LB75AO,B00112BSR0,B00147FGJ8,B00B50RX72,B00524WE2Q,B00787OGSA,B004IUN7JO,B0048O2R1E
UserId,,,,,,,,,,,,,,,,,,,,,
A3UL5OE85H3TQO,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [20]:
subset['cos_similarity'] = 0.0
for user in subset.index:
    cos = cosine_similarity(subset.loc['A3UL5OE85H3TQO'].values.reshape(1, -1), subset.loc[user].values.reshape(1, -1))

In [21]:
subset['cos_similarity']

UserId
A3UL5OE85H3TQO    0.0
Name: cos_similarity, dtype: float64